{% extends '/dashboard/template.html.twig' %}

{% block title %}Dashboard Home{% endblock %}

{% block body %}

    <h1>Home</h1>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
