{% extends '/nidiap/template.html.twig' %}

{% block title %}Nidiap{% endblock %}

{% block body %}
<section class="secao" style="min-height: 350px !important;">
    <div class="container">
        <div class="text-sm-center display-1 text-white" style="padding-top: 150px;">
            <h1>Nossos Serviços</h1>
        </div>
    </div>
</section>
<!-- Inicio seção Conteudo-->
<div class="container">
    <div class="row">
        <div class="mt-5 pb-5">
          <!-- for -->
                <div class="col-md-10 mb-3 teste  m-auto">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="{{ asset('vendor/bootstrap-dist/imagem/vantagem.png') }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-6 ml-5">
                            <div class="card-body">
                                <h1 class="card-title" style="color: rgb(20, 18, 100); margin-left: 40px;">Sites</h1>
                                <p class="card-text text-secondary quebra">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                                </p>
                                <span>Serviços oferecidos por Soluction EJ.

                                    <a href="" title="Mais" class="btn-mais mr-5" style="width: 90px;">Saber Mais</a>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
           <!-- endfor-->
        </div>

    </div>
</div>

    <!-- Fim seção Conteudo-->

{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}