html {
    font-family: Arial, Verdana, sans-serif !important;
}
html, body{
    height: 100% !important;
}
body{
    background: #f1f3f7;
}

.logo{
    width: 100px;
}
#secao {
    background-image: url("../vendor/bootstrap-dist/imagem/baner.jpeg");
    background-repeat: no-repeat;
    min-height: 500px;
    background-attachment: fixed;
}
.baner{
    margin-top: 150px;
}
.text-link{
    color: #062c61;
}

.pespctiva{
    -webkit-transform: perspective(800px) rotateY(20deg);
    transform: perspective(800px) rotateY(20deg);
}
.pespctiva-reves{
    -webkit-transform: perspective(800px) rotateY(-20deg);
    transform: perspective(800px) rotateY(-20deg);
}
.navbar.bg-top{
    background: linear-gradient(to right,#181918 0,#15101d 90%);
    opacity: 0.9;
}
.container.alt{
    margin-top: 95px;
}

.bg-card .card{
    background-color: #f8f9fa;
}

.span-logo{
    text-decoration: underline;
    text-decoration-color: #ff9f17;

}
.span-logo:hover{
    text-decoration-color: #ffed22;
}

.span-serv{
    text-decoration: underline;
    text-decoration-color: #28a745 ;
}

.btm{
    margin-left: 43%;
}
.cor-paragrafo{
    color: #402b32;
}

.min-max{
    max-height: 11rem;
    min-height: 11rem;
}
.list-unstyled a {
    color: #d2be87;
}

.list-unstyled a:hover {
    color: #d2be87;
}
.cad .shadow-sm:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.card .card-img-overlay{
    padding-top: 250px;
}
.bg-produtos{
    background: #f1ecec;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .baner{
        margin-top: 0px;
    }

    .card .card-img-overlay{
        padding-top: auto;
    }
    li.nav-item.ml-5{
        margin-left: 0!important;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .baner{
        margin-top: 20px;
    }
    .card .card-img-overlay{
        padding-top: auto;
    }
    li.nav-item.ml-5{
        margin-left: 0!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .baner{
        margin-top: 70px;
    }
    .card .card-img-overlay{
        padding-top: 0;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .baner{
        margin-top: 100px;
    }
    .card .card-img-overlay{
        padding-top: 160px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}