html {
    font-family: Arial, Verdana, sans-serif !important;
}
html, body{
    height: 100% !important;
}
body{
    background: #f1f3f7;
}
.quebra{
    word-break: break-all;
}

.slider-btn .prev,
.slider-btn .next{
    background-color: var(--secondary);
    padding: 10px 16px;
    border-radius: 20px;
    color: #fff;
    margin: 0 1rem;
    opacity: 0.7;
    cursor: pointer;
    position: relative;
}
.prev{
    bottom: 260px;
}
.next{
   float: right;
    bottom: 269px;
}
.slide-trabalho .slide{
    transform: scale(0.7);
    opacity: 0.9;
    transition: 0.3s;
    outline: none !important;
}
.slide-trabalho .slide.slick-center{
    transform: scale(0.9);
    opacity: 1;
}
.text{
     width: 100%;
     height: 70px;
     margin-top: -80px;
     background:  url("../vendor/bootstrap-dist/imagem/sem_branco.png") repeat-x;
 }
.text-baixo{
    width: 100%;
    height: 80px;
    margin-top: -8px;
    margin-bottom: 60px;
    background:  url("../vendor/bootstrap-dist/imagem/sem_branco.png") repeat-y;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

}
.clear{
    clear: both;
}
.logo{
    width: 130px;
    margin-top: -20px;
    position: absolute;
}
.m-logo{
    margin-left: 130px;
}
.secao {
    background-image: url("../vendor/bootstrap-dist/imagem/baner3.png");
    background-repeat: no-repeat;
    min-height: 690px;
    background-attachment: fixed;

}
.img-shadow{
    border-radius: 5px 5px 0 0 !important;
    box-shadow: 0 .6rem .5rem rgba(0,0,0,.20);
}
.btn-card {
    display: inline-block;
    width: 70%;
    height: 30px;
    color: #fff;
    text-align: center;
    background-color: #141264;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: 0 .6rem .5rem rgba(0,0,0,.20);
}
.btn-card:hover{
    background-color: #fff;
    color: #141264;
    text-decoration: none;
}
.btn-card-noticia {
    display: inline-block;
    width: 30%;
    height: 30px;
    text-align: center;
    color: #141264;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: 0 .6rem .5rem rgba(0,0,0,.20);
    transition: 0.5s;
}
.btn-cadastrar{
    display: inline-block;
    height: 20px;
    text-align: center;
    color: var(--secondary);
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 0 10px;
    line-height: 1;
    margin-top: 10px;
}
.btn-cadastrar:hover{
    text-decoration: none;
}
.btn-mais{
    display: inline-block;
    height: 20px;
    min-width: 100px;
    text-align: center;
    color: #fff;
    background-color: rgb(112, 112, 112);
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 0 10px;
    line-height: 1;
    margin-top: 10px;
    margin-left: 10px;
}
.btn-mais:hover{
    text-decoration: none;
    color: #fff;
    background-color: rgb(80, 112, 112);
}
.teste:hover{
    box-shadow: 0 .6rem .5rem rgba(0,0,0,.20);
}
.btn-card-noticia:hover{
    background-color: #141264;
    color: #fff;
}

.baner{
    margin-top: 150px;
}

.baner img{
    max-width: 800px;
}
.text-link{
    color: #062c61;
}

.pespctiva{
    -webkit-transform: perspective(800px) rotateY(20deg);
    transform: perspective(800px) rotateY(20deg);
}
.pespctiva-reves{
    -webkit-transform: perspective(800px) rotateY(-20deg);
    transform: perspective(800px) rotateY(-20deg);
}
.menu{
    background: linear-gradient(to right,#181918 0,#15101d 90%);
    opacity: 0.8;
    transition: 0.2s;  
}
.menu ul li a:hover{
    text-decoration: underline;
}
.menu-diferente{
    background: linear-gradient(to right,#181918 0,#15101d 90%);
    opacity: 1 !important; 
}
.caixa{
    max-width: 60%;
    margin-left: 11%;
    margin-top: -7%;
}
.logo-menu-none{
   display: none;
}
.barra-de-menu{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container.alt{
    margin-top: 95px;
}

.bg-card .card{
    background-color: #f8f9fa;
}

.span-logo{
    text-decoration: underline;
    text-decoration-color: #ff9f17;

}
.span-logo:hover{
    text-decoration-color: #ffed22;
}

.span-serv{
    text-decoration: underline;
    text-decoration-color: #28a745 ;
}

.btm{
    margin-left: 43%;
}
.cor-paragrafo{
    color: #402b32;
}

.min-max{
    max-height: 11rem;
    min-height: 11rem;
}
.list-unstyled a {
    color: #d2be87;
}

.list-unstyled a:hover {
    color: #d2be87;
}
.cad .shadow-sm:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.secao .shadow-ms{
    transition: 0.5s;
}
.secao .shadow-ms:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin-top: -45px;
}
.card .card-img-overlay{
    padding-top: 250px;
}
.bg-produtos{
    background: #f1ecec;
}
/* Extra small devices (portrait phones, less than 576px) */

@media (min-width: 321px) and (max-width: 575.98px) {
    .baner{
        margin-top: 0px;
    }
    li.nav-item.ml-5{
        margin-left: 0!important;
    }
    .logo-menu-none{
        display: block;
    }
    .logo-none{
        display: none;
    }
    .m-logo{
       margin-left: 24px;
    }
    .baner img{
        max-width: 300px;
        margin-top: 180px;
    }
    .text,.text-baixo{
        width: 50% !important;
    }
    h2.caixa{
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .baner{
        margin-top: 20px;
    }
    li.nav-item.ml-5{
        margin-left: 0!important;
    }
    .logo-none{
        display: none;
    }
    .baner img{
        max-width: 400px;
        margin-top: 200px;
      }
    .text,.text-baixo{
        width: 50% !important;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .baner{
        margin-top: 70px;
    }
    .baner img{
        max-width: 600px;
        margin-top: 150px;
    }
    .titulo-up{
        margin-top: -70px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .baner{
        margin-top: 150px;
    }
    .titulo-up{
        margin-top: -70px;
    }
    .titulo-up-noticia{
        margin-top: -70px;

    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .titulo-up{
        margin-top: -70px;
    }
    .titulo-up-noticia{
        margin-top: -70px;
    }
}