html {
    font-family: Arial, Verdana, sans-serif !important;
}
.cor-paragrafo{
    color: #402b32;
}
#secao {
    margin-top: 50px;
    background: url("../vendor/bootstrap-dist/imagem/category.jpg") no-repeat top;
    background-size: 100%;
    height: 500px;
    opacity: 0.7;
}
.pespctiva{
    -webkit-transform: perspective(800px) rotateY(20deg);
    transform: perspective(800px) rotateY(20deg);
}
.pespctiva-reves{
    -webkit-transform: perspective(800px) rotateY(-20deg);
    transform: perspective(800px) rotateY(-20deg);
}
.navbar.bg-top{
    background-color: #402b32;
    padding: 15px 0;
}
html, body{
    height: 100% !important;
}
.container.alt{
    margin-top: 80px;
}

.bg-card .card{
    background-color: #f8f9fa;
}
body{
    background: #f1f3f7;
}

.span-logo{
    text-decoration: underline;
    text-decoration-color: #ff9f17;

}
.span-logo:hover{
    text-decoration-color: #ffed22;
}

.span-serv{
    text-decoration: underline;
    text-decoration-color: #28a745 ;
}

.btm{
    margin-left: 43%;
}

.min-max{
    max-height: 11rem;
    min-height: 11rem;
}
.list-unstyled a {
    color: #d2be87;
}

.list-unstyled a:hover {
    color: #d2be87;
}
.cad .shadow-sm:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #secao {
      height: auto;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #secao {
        height: 300px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}